<div id="splash" class="dialog">
    <div class="dialoginternal">
        <a class="close" href="#">Close</a>
        <h2>{{title}} <span>Help</span></h2>
        <section class="contents">
            <div id="help_header">{{{help_header}}}</div>
            <h3>Keyboard Shortcuts</h3>
            <h4>Characters</h4>
            <dl>
                <dt>F1..F10 (function keys)</dt>
                <dd>Place/Draw characters.</dd>
                <dt>ALT + [F1..F10]</dt>
                <dd>Switch character set.</dd>
            </dl>        
            <p>If you are a Mac user, you need to set your kebyoard preferences to:</p>
            <p><em>Use all F1,F2,etc. keys as standard functional keys</em></p>
            <h4>Colors</h4>
            <dl>
                <dt>CTRL + UP or DOWN</dt>
                <dd>Change foreground color.</dd>
                <dt>CTRL + RIGHT or LEFT</dt>
                <dd>Change background color.</dd>
            </dl>
            <h3>Saving Files</h3>
            <h4>Dropbox</h4>
            <p>You need a <a href="http://dropbox.com">Dropbox</a> account to save and export .ANS files. Just choose <em>Save to Dropbox</em> and login to authorize the {{title}} app. Files will be stored on your dropbox online folder under <em>Apps > {{title}} > ANSIs</em></p>
            <h4>{{title}} Cache</h4>
            <p>Files are saved locally on your browser cache and will be deleted if the cache is cleared.</p>
            <p>Press ALT + H at any time to return to this screen.</p>
            <div id="help_footer">{{{help_footer}}}</div>
        </div>
    </div>
</div>
<div id="drawings" class="dialog">
    <div class="dialoginternal">
        <a class="close" href="#">Close</a>
        <section>
            <form id="upload" method="post" enctype="multipart/form-data">
                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
                <div>
                    <label for="fileselect">Upload file</label>
                    <span class="file-wrapper">
                        <input type="file" id="fileselect" name="fileselect" />
                        <span class="button">Choose file from computer</span>
                    </span>
                    <div id="progress_bar"><div class="percent">0%</div></div>
                </div>
            </form>
            <div><span class="or">OR</span></div>
        </section>
        <section>
            <h3>Load from Dropbox</h3>
            <div id="LoadLogout"><span class="user-name"></span> (<a href="#" class="logout">Logout</a>)</div>
            <div><a class="dropbox-login" href="#">Login to Dropbox</a></div>
            <ol id="DropboxFiles"></ol>
        </section>
        <section id="html5Files">
            <h3>Load from {{title}} Cache</h3>
            <p class="alert"><strong>Warning:</strong> clearing your cache will empty this list.</p>
            <ol></ol>
        </section>
    </div>
</div>
<div id="CharacterSetDialog" class="dialog">
    <div class="dialoginternal">

        <a class="close" href=#>Close</a>
        <h2>Change Character Set</h2>
        <ul>
            <li><a href="#" data-font-set="8x16">80x25 ANSI</a></li>
            <li><a href="#" data-font-set="8x8">80x50 ANSI</a></li>
            <li><a href="#" data-font-set="Amiga">Amiga Font</a></li>        
        </ul>
    </div>
</div>
<div class="dialog" id="SaveDialog">
    <div class="dialoginternal">
        <a class=close href=#>Close</a>
        <h2>Save</h2>    
        <label for="name">Name</label> <input id=name type="text" />
        <section>
            <div id="DropboxContainer" class="method">
                <span id="DropboxSaveContainer"><a href="#" id="DropboxSave">Save ANSI file to Dropbox</a>
                <a href="#" class="dropbox-login">Login to Dropbox</a>
            </div>
            <div id="LoggedIn">
                Logged in as <span class="user-name" /> (<a href="#" class="logout">Logout</a>)</span>
            </div>
            <div>
                <em>(Make sure pop-up blocker is disabled)</em>
                <span class="or">or</span>
            </div>
            <div class="method"><a href="#" id="html5Save">Save to {{title}} Cache</a></div>
            <div class="method"><a href="#" id="PNGSave">Export Image (PNG)</a></div>
        </section>
    </div>
</div>
<div id="ErrorDialog" class="dialog">
    <div class="dialoginternal">

        <a class="close" href="#">Close</a>
        <h2>Error</h2>
        <p class="message" />
    </div>
</div>
<header>
    <h1>{{title}}</h1>
</header>
<ul id="menu">
    <li id="clear">New</li>
    <li id="load">Open</li>
    <li id="save">Save</li>
    <li id="help">Help</li>
</ul>
<div id="meta">
    <h2>FILENAME.ANS</h2>
    <div id="cursorpos">[ L:1 C:1 ]</div>
</div>
<div id="toolbar">
    <div id="palette">
        <div id="fg" class="selected">f</div>
        <div id="bg">b</div>
        <div id="colors"></div>
        <div style="clear:both"></div>
    </div>
    <div id="charsets">
        <ul id="sets"></ul>
        <div id="prev-set">&lt;</div>
        <div id="next-set">&gt;</div>
        <div id="char-lock">Lock</div>
        <div id="expand">expand</div>
    </div>
</div>
<div id="canvaswrapper">
    <div id="canvasscroller">
        <div id="highlight" class="highlight"></div>
        <div id="cursor"></div>
        <div id="actualcanvaswrapper">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div id="vgawrapper">
        <h2>VGA Preview</h2>
        <div id="vgahighlight" class="highlight"></div>
        <canvas id="vga"></canvas>
    </div>
</div>